#include "sofle_supermini.dtsi"

&kscan0 {
    /* QMK left MATRIX_COL_PINS: B6, B2, B3, B1, F7, F6 -> Pro Micro D10, D16, D14, D15, D18, D19. */
    col-gpios =
        <&pro_micro 10 GPIO_ACTIVE_HIGH>,
        <&pro_micro 16 GPIO_ACTIVE_HIGH>,
        <&pro_micro 14 GPIO_ACTIVE_HIGH>,
        <&pro_micro 15 GPIO_ACTIVE_HIGH>,
        <&pro_micro 18 GPIO_ACTIVE_HIGH>,
        <&pro_micro 19 GPIO_ACTIVE_HIGH>;
};

&left_encoder {
    status = "okay";
};
